<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lecture50-my-little-monster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFDDB8041C0CE73D002BC08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFDDB8181C0CE73D002BC08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFDDB8231C0CE73D002BC08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
